.nav {
    padding-left: 5%;
    padding-right: 5%;
}
.card {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    max-width: 300px;
}
.input-field input[type=text]:focus + label {
    color: #90caf9;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #90caf9;
    box-shadow: 0 1px 0 0 #90caf9;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #90caf9 !important;
    box-shadow: 0 1px 0 0 #90caf9 !important;
}
.input-field .prefix.active {
    color: #90caf9;
}

.beans {
  margin: 0px 0px 10px 20px;
}

.bean{
  height: 20px;
  line-height: 20px;
  background: gray;
  text-align: center;
  display: inline-block;
  padding: 0px 8px 0px 8px;
  border-radius: 15px;
  position: relative;
  margin: 0px 3px 5px 0px;
  font-size: 80%;
}
